html, body, #page-content{
  height:100%;
}

[hidden]{
  display:none!important;
}

.hand-cursor{
  cursor: pointer;
}

.dashed-message{
  border:1px dashed #E2E2E2;
  text-align:center;
  color:#a7a7a7;
  padding:10px;
}

.vertical-divider{
  width:2px;
  height:60px;
  background-color:#EEE;
  margin: 0 10px;
}

/*
----------------------------------*/
.fa-stack .fa-stack-1x.fa-cog.fa-spin{
  right: -9px;
  bottom: 7px;
  left: initial;
  font-size: 20px;
  width: auto;
}

/* Input placeholder
----------------------------------*/

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #c7c7c7!important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #c7c7c7!important;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #c7c7c7!important;
}
:-moz-placeholder { /* Firefox 18- */
  color: #c7c7c7!important;
}

/* Top Navbar
----------------------------------*/

#top-navbar{
  position:fixed;
  top:0;
  left:0;
  right:0;
  border-top:4px solid #1c9ef4;
  background-color: #0275d8;
  color: rgba(255, 255, 255, 0.9);
  display: block;
  height: 60px;
  padding: 0;
  box-shadow: 0 1px 1px #e3e3e3;
  z-index:3;
}
#top-navbar:hover {
  z-index: 5;
}

.table-cell.bq-logo{
  width: 250px;
  max-width:100%;
  text-align: center; }
  .table-cell.bq-logo img{
    display:inline-block;
    max-height:32px;
    height:32px; }

@media screen and (max-width: 768px) {
  .table-cell.bq-logo{
    padding-left: 62px; }
}


/* Side Navbar
----------------------------------*/

#toggle-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  color: #FFF;
  background: transparent;
  font-size: 23px;
  z-index: 5;
  display: none;
  font-size:30px;
  height: 60px;
}

.sidebar {
  border-radius: 0;
  border: none;
  border-right:1px solid #e3e3e3;
  position: fixed;
  z-index: 2;
  top: 60px;
  left: 250px;
  width: 250px;
  margin-left: -250px;
  overflow-y: auto;
  background-color: #FFF;
  bottom: 0;
  overflow-x: hidden;
  padding-bottom: 40px;
  font-size: 16px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .sidebar .list-group{
    margin:0; }
    .sidebar .list-group a.list-group-item {
      background: #FFF;
      border: 0;
      border-radius: 0;
      color: #0679c3;
      text-decoration: none; }
    .sidebar .list-group a:hover,
    .sidebar .list-group a.active  {
      background: #F5F5F5; }
  .sidebar .sidebar-dropdown *:focus {
    border-radius: none;
    border: none; }
  .sidebar .sidebar-dropdown .panel-title {
    font-size: 1rem;
    height: 50px;
    margin-bottom: 0; }
    .sidebar .sidebar-dropdown .panel-title a {
      color: #999;
      text-decoration: none;
      font-weight: 400;
      background: #222; }
      .sidebar .sidebar-dropdown .panel-title a span {
        position: relative;
        display: block;
        padding: .75rem 1.5rem;
        padding-top: 1rem; }
    .sidebar .sidebar-dropdown .panel-title a:hover, .sidebar .sidebar-dropdown .panel-title a:focus {
      color: #fff;
      outline: none;
      outline-offset: -2px; }
  .sidebar .sidebar-dropdown .panel-title:hover {
    background: #151515; }
  .sidebar .sidebar-dropdown .panel-collapse {
    border-radious: 0;
    border: none; }
    .sidebar .sidebar-dropdown .panel-collapse .panel-body .list-group-item {
      border-radius: 0;
      background-color: #222;
      border: 0 solid transparent; }
      .sidebar .sidebar-dropdown .panel-collapse .panel-body .list-group-item a {
        color: #999; }
      .sidebar .sidebar-dropdown .panel-collapse .panel-body .list-group-item a:hover {
        color: #FFF; }
    .sidebar .sidebar-dropdown .panel-collapse .panel-body .list-group-item:hover {
      background: #151515; }

.sidebarPushRight {
  left: 250px !important;
  z-index: 10; }

@media screen and (max-width: 768px) {
  #toggle-sidebar {display: block;}
  .sidebar {left: 0; }
}

/* Main Container
--------------------------------------------------*/

.main-container {
  margin: 60px 0 0 250px;
  padding: 10px 26px 40px 26px;
  -ms-overflow-x: hidden;
  overflow-x: hidden;
  position: relative;
  z-index: 4;
  height: 100%
}

/* Main Container > Media query
--------------------------------------------------*/
@media screen and (max-width: 768px) {
  .main-container {margin-left: 0;}
}


/* Input > Radio
----------------------------------*/

input[type="radio"]{
  height:initial;
  margin:0;
}

/* Input > Autocomplete
----------------------------------*/

.angucomplete-dropdown{
  padding:0;
  width: 100%;
  margin-top: 1px;
  border-radius: 5px;
  overflow: hidden;
}

.angucomplete-searching{
  color:#828282;
  padding:10px;
}

.angucomplete-row{
  padding:10px;
  color:#828282;
  margin: 0;
}

.angucomplete-row .angucomplete-title .highlight,
.angucomplete-row .angucomplete-description .highlight{
  color:#1c9ef4;
}

.angucomplete-selected-row{
  background-color:#f5f5f5;
  color: #1c9ef4;
}

/* Input > Autocomplete > Validation
----------------------------------------------- */

form.ng-invalid-autocomplete-required div[angucomplete-alt][field-required='true'] input.ng-dirty:not(:focus){
  color: #b94a48;
  border-color: #F5AEAC;
  background-color: #fffafa;
  -webkit-box-shadow: inset 0 0 4px #FCE7E7;
     -moz-box-shadow: inset 0 0 4px #FCE7E7;
          box-shadow: inset 0 0 4px #FCE7E7;
}

form.ng-invalid-autocomplete-required div[angucomplete-alt][field-required='true'] input.ng-dirty:not(:focus)::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #f4c4c4!important;
}
form.ng-invalid-autocomplete-required div[angucomplete-alt][field-required='true'] input.ng-dirty:not(:focus)::-moz-placeholder { /* Firefox 19+ */
  color: #f4c4c4!important;
}
form.ng-invalid-autocomplete-required div[angucomplete-alt][field-required='true'] input.ng-dirty:not(:focus):-ms-input-placeholder { /* IE 10+ */
  color: #f4c4c4!important;
}
form.ng-invalid-autocomplete-required div[angucomplete-alt][field-required='true'] input.ng-dirty:not(:focus):-moz-placeholder { /* Firefox 18- */
  color: #f4c4c4!important;
}

/* File Upload
----------------------------------*/

.file-upload-drop-box{
  padding: 20px 30px;
  border: 1px dashed #d7d7d7;
  text-align: center;
  font-size: 16px;
  color: #1c9ef4;
  cursor: pointer;
}

.file-upload-drop-box.ng-dirty.ng-invalid-required:not(.drag-over){
  border-color:#ec8a88;
}

.file-upload-drop-box.drag-over{
  border-color:#1c9ef4
}

/* Breadbums
----------------------------------*/

.breadcrumb {
  font-size: 0.9rem;
  padding: 0.5rem 0.62rem;
  margin: 0.8rem 0 2rem 0;
  list-style: none;
  background-color: #eceeef;
  border-radius: 0.25rem; }
  .breadcrumb::after {
    content: "";
    display: table;
    clear: both; }
  .breadcrumb > li {
    float: left; }
    .breadcrumb > li + li::before {
      padding-right: .5rem;
      padding-left: .5rem;
      color: #818a91;
      content: "/"; }
  .breadcrumb > .active {
    color: #818a91; }

/* Buttons
----------------------------------*/

.bq-button{
  font-size:12px;
  font-weight:600;
  border-radius: 4px;
  background-color:#F7F7F7;
  text-transform:uppercase;
  text-align:center;
  color:#0a85d9;
  padding:13px 20px 10px 20px;
  border-bottom:2px solid #E2E2E2;
  cursor:pointer;
  margin-bottom:5px;
  text-decoration:none!important;
}

.bq-button:hover{
  background-color:#F2F2F2;
  text-decoration:none!important;
}

a.bq-button{
  display:inline-block;
}

.bq-button[disabled],
.bq-button.disabled{
  cursor:default;
  pointer-events:none;
  opacity:0.6;
}

/* Buttons > Size
----------------------------------*/

.bq-button.md-button{
  display:inline-block;
  width:120px;
}

.bq-button.lg-button{
  display:inline-block;
  width:200px;
}

/* Buttons > Colors
----------------------------------*/

.bq-button.light-blue{
  color:#FFF;
  background-color:#0a85d9;
  border-color:#0d75bc;
}

.bq-button.light-blue:hover{
  background-color:#0b8de6;
}

.bq-button.light-blue:active{
  background-color:#0d75bc;
}

.bq-button.blue{
  color:#FFF;
  background-color:#006fb7;
  border-color:#03619e;
}

.bq-button.blue:hover{
  background-color:#0074c2;
}

.bq-button.blue:active{
  background-color:#03619e;
}

.bq-button.green{
  color:#FFF;
  background-color:#0ac17f;
  border-color:#0a9762;
}

.bq-button.green:hover{
  background-color:#0bcb85;
}

.bq-button.green:active{
  background-color:#0a9762;
}

.bq-button.yellow{
  color:#FFF;
  background-color:#f0a528;
  border-color:#c58416;
}

.bq-button.yellow:hover{
  background-color:#f5aa2f;
}

.bq-button.yellow:active{
  background-color:#c58416;
}

.bq-button.red{
  color:#FFF;
  background-color:#cc4e4a;
  border-color:#b73937;
}

.bq-button.red:hover{
  background-color:#d9534f;
}

.bq-button.red:active{
  background-color:#b73937;
}

.bq-button.teal{
  color:#FFF;
  background-color:#27c9d4;
  border-color:#18adb6;
}

.bq-button.teal:hover{
  background-color:#29d6e1;
}

.bq-button.teal:active{
  background-color:#18adb6;
}

/* Buttons > Icon
----------------------------------*/

.bq-button.icon-button{
  background-color:transparent;
  color:#CECECE;
  border:2px solid #CECECE;
}

.bq-button.icon-button:hover,
.bq-button.icon-button:active{
  background-color:#CECECE;
  color:#FFF;
}

/* Buttons > Naked > Colors
----------------------------------*/

.bq-button.naked{
  background-color:transparent;
  color: #afafaf;
  border: 2px solid #e2e2e2;
}

.bq-button.naked:hover,
.bq-button.naked:active{
  background-color:#e2e2e2;
  color:#FFF;
}

.bq-button.naked.light-blue{
  color:#0a85d9;
  border:2px solid #0a85d9;
}

.bq-button.naked.light-blue:hover,
.bq-button.naked.light-blue:active{
  background-color:#0a85d9;
  color:#FFF;
}

.bq-button.naked.blue{
  color:#006fb7;
  border:2px solid #006fb7;
}

.bq-button.naked.blue:hover,
.bq-button.naked.blue:active{
  background-color:#006fb7;
  color:#FFF;
}

.bq-button.naked.green{
  color:#0ac17f;
  border:2px solid #0ac17f;
}

.bq-button.naked.green:hover,
.bq-button.naked.green:active{
  background-color:#0ac17f;
  color:#FFF;
}

.bq-button.naked.yellow{
  color:#f0a528;
  border:2px solid #f0a528;
}

.bq-button.naked.yellow:hover,
.bq-button.naked.yellow:active{
  background-color:#f0a528;
  color:#FFF;
}
.bq-button.naked.red{
  color:#cc4e4a;
  border:2px solid #cc4e4a;
}

.bq-button.naked.red:hover,
.bq-button.naked.red:active{
  background-color:#cc4e4a;
  color:#FFF;
}

.bq-button.naked.teal{
  color:#27c9d4;
  border:2px solid #27c9d4;
}

.bq-button.naked.teal:hover,
.bq-button.naked.teal:active{
  background-color:#27c9d4;
  color:#FFF;
}

/* Buttons > Icon
----------------------------------*/
.bq-button.icon-button{
  display: inline-block;
  background-color: transparent;
  border: none!important;
  padding: 8px 16px;
  margin: auto;
  font-size:18px;
  color:#CECECE;
}

.bq-button.icon-button:hover,
.bq-button.icon-button:active{
  background-color: transparent!important;
  color:#CECECE;
}

.bq-button.icon-button.light-blue{
  color:#0a85d9;
}

.bq-button.icon-button.light-blue:hover,
.bq-button.icon-button.light-blue:active{
  color:#0a85d9;
}

.bq-button.icon-button.blue{
  color:#006fb7;
}

.bq-button.icon-button.blue:hover,
.bq-button.icon-button.blue:active{
  color:#006fb7;
}

.bq-button.icon-button.green{
  color:#0ac17f;
}

.bq-button.icon-button.green:hover,
.bq-button.icon-button.green:active{
  color:#0ac17f;
}

.bq-button.icon-button.yellow{
  color:#f0a528;
}

.bq-button.icon-button.yellow:hover,
.bq-button.icon-button.yellow:active{
  color:#f0a528;
}
.bq-button.icon-button.red{
  color:#cc4e4a;
}

.bq-button.icon-button.red:hover,
.bq-button.icon-button.red:active{
  color:#cc4e4a;
}

.bq-button.icon-button.teal{
  color:#27c9d4;
}

.bq-button.icon-button.teal:hover,
.bq-button.icon-button.teal:active{
  color:#27c9d4;
}

.btn-user-action {
  font-size: 1.2em;
  cursor: pointer;
}

/* Table
----------------------------------*/

.bq-table{
  width:100%;
  border-radius:6px;
  border-spacing: 0;
  border:1px solid #DDD;
  border-collapse:separate;
  overflow:hidden;
}

.bq-table tr td{
  padding:12px;
  color:#666;
  border-bottom:1px solid #F0F0F0;
}

.bq-table tr td:not(:first-child){
  border-left: 1px solid #F0F0F0;
}

.bq-table tr td.table-buttons{
  width:1%;
  white-space:nowrap;
}

.bq-table.large tr td{
  padding:25px 15px;
}

.bq-table tr:last-child td{
  border-bottom:none;
}

.bq-table tr:not(.header):not(.footer):hover td{
  background-color:#f4f8fb;
}

.bq-table tr:not(.header):not(.footer) td:first-child{
  border-left:3px solid transparent;
}

.bq-table tr:not(.header):not(.footer):hover td:first-child{
  border-left:3px solid #0b85da;
}

/* Table > Header
----------------------------------*/

.bq-table tr.header td{
  color:#0b85da;
  border-bottom:2px solid #DDD;
  font-weight: 600;
}


/* Table > Footer
----------------------------------*/

.bq-table tr.footer td{
  padding:14px 20px;
  background-color:#f4f8fb;
}

.bq-table tr.footer td.highlighted{
  background-color:#e3e6eb;
}

/* List
----------------------------------*/

.bq-material-list{
  list-style: none;
  padding: 0;
}

.bq-material-list .list-item{
  color:#828282;
  background-color:#FFF;
  border-left: 3px solid #E8E8E8;
  box-shadow: 0 1px 6px rgba(0,0,0,0.1);
  margin: 5px 0;
  padding: 10px 15px;
  font-weight:normal;
  border-radius: 4px;
}

.bq-material-list .list-item:hover{
  border-left: 3px solid #0275d8;
  background-color: #FCFCFC;
}

.bq-material-list .list-item .bq-button.icon-button{
  /*display:none;*/
}

.bq-material-list .list-item:hover .bq-button.icon-button{
  /*display:inline-block;*/
}

/* Panel
----------------------------------*/

.bq-panel{
  border-color: #DDD;
  overflow: hidden;
  color:#9b9b9b;
  margin-bottom:15px;
}

.bq-panel > .panel-heading{
  color:#9b9b9b;
  background-color: #f5f5f5;

  padding: 0;
  border-bottom: 3px solid #DDD;
}

.bq-panel > .panel-heading .panel-number{
  font-size:18px;
  text-align:center;
  padding:8px 15px!important;
  background-color:#e6e6e6;
}

.bq-panel > .panel-heading .panel-title{
  font-size:14px;
  padding:8px 15px;
  text-transform:uppercase;
}

/* Panel > Active
----------------------------------*/
.bq-panel.active{
  color:#666;
  border-color: #3182c4;
}

.bq-panel.active > .panel-heading{
  color:#FFF;
  background-color: #3e8dd0;
  border-color: #3182c4;
}

.bq-panel.active > .panel-heading .panel-number{
  background-color:#3182c4;
}

.bq-panel.active > .panel-heading .panel-title{
  font-weight:bold;
  text-transform:uppercase;
}


.bq-simple-panel{
  border: 1px solid #eceeef;
  border-radius: 4px;
  background-color: #fdfdfd;
  padding:15px;
}

/* Modal
----------------------------------------------- */
.modal-display,
.modal-overlay{
  pointer-events: none;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  z-index:1001;
}

.modal-display{
  position:fixed;
}

.modal-display .modal-overlay{
  pointer-events: all;
  background-color: rgba(0, 0, 0, 0.05);
  z-index:100;
}

.modal-display .modal-window{
  position:relative;
  z-index:200;
}

.modal-display .popup-window{
  pointer-events: all;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  margin:0 auto;
}

.popup-window .popup-header{
  position:relative;
  padding: 20px 20px 0 20px;
}

.popup-window .popup-header .close-button{
  position: absolute;
  top: 3px;
  right: 3px;
  width: 25px;
  color: #8c8c8c;
  cursor:pointer;
}

.popup-window .popup-header .close-button .fa{
  font-size:16px;
  line-height:25px;
}

.popup-window .popup-content{
  padding:20px;
}

.page-content {
    background-color: #FFF;
    border: 1px solid #D1D3D4;
    padding: 20px;
}

.page-content.orange {
    border-top: 1px solid #E88949;
}

/* Nav Tabs
----------------------------------*/

.uib-tab.nav-item:not(:first-child):not(:last-child){
  margin-left:1px;
  margin-right:1px;
}

.uib-tab.nav-item.active{background-color: #0B85D9;}
.uib-tab.nav-item.active .nav-link{color: white;}

.uib-tab.nav-item:not(.active):hover{background-color: #F5F5F5;}
.uib-tab.nav-item:not(.active):not(:hover)  {background-color: #FAFAFA;}

.uib-tab.nav-item .nav-link {
  color:#0a85d9;
  border: none;
  padding:12px 16px;
  font-size:13px;
  font-weight:600
}

.uib-tab.nav-item .nav-link:hover {border: none;}

.tab-content {
  border: 1px solid #0B85D9;
  padding: 20px;
}

.bq-tabs.nav-tabs{
  border-color:#0a85d9;
  border:none;
  padding:0;
}

.bq-tabs.nav-tabs > li > a{
  color: #0a85d9;
  cursor: default;
  font-weight:500;
  font-size:14px;
  cursor:pointer;
}

.bq-tabs.nav-tabs > li > a:hover,
.bq-tabs.nav-tabs > li > a:focus{
  color: #0a85d9;
  border: 1px solid #0a85d9;
}

.bq-tabs.nav-tabs > li > a i.fa{
  font-size:16px;
}

.bq-tabs.nav-tabs > li.active > a,
.bq-tabs.nav-tabs > li.active > a:hover,
.bq-tabs.nav-tabs > li.active > a:focus{
  color: #0a85d9;
  border: 1px solid #0a85d9;
  border-bottom-color: #FFF;
}


/* Nav Tabs > Tab Content
----------------------------------*/
.bq-tabs.tab-content{
  padding:15px;
  border: 1px solid #0a85d9;
  border-radius: 0 4px 4px 4px;
}

/* Wizard
----------------------------------*/
.bq-wizard{

}

.bq-wizard .wizard-step{
  text-align:center;
  color:#c7c7c7;
  cursor:pointer;
}

.bq-wizard .wizard-step.active{
  color:#0a85d9;
}

.bq-wizard .wizard-step.disabled{
  color:#eaeaea;
  cursor:default;
}

.bq-wizard .wizard-step .step-number{
  display:inline-block;
  width:60px;
  height:60px;
  border-radius:50%;
  text-align:center;
  line-height:53px;
  font-size:22px;
  font-weight:bold;
  border: 3px solid #c7c7c7;
  background-color:#FFF;
  position:relative;
}

.bq-wizard .wizard-step .step-line{
  position:relative;
  margin-bottom:10px;
}

.bq-wizard .wizard-step:not(:first-child) .step-line:before{
  content:"";
  position:absolute;
  right:50%;
  left:0;
  top:calc(50% - 2px);
  height:4px;
  background-color:#c7c7c7;
}

.bq-wizard .wizard-step:not(:last-child) .step-line:after{
  content:"";
  position:absolute;
  right:0;
  left:calc(50% + 30px);
  top:calc(50% - 2px);
  height:4px;
  background-color:#c7c7c7;
}

.bq-wizard .wizard-step.active .step-line:before,
.bq-wizard .wizard-step.active .step-line:after{
  background-color:#0a85d9;
}

.bq-wizard .wizard-step.disabled .step-line:before,
.bq-wizard .wizard-step.disabled .step-line:after{
  background-color:#eaeaea;
}

.bq-wizard .wizard-step .step-label{
  font-size:12px;
  text-transform:uppercase;
  font-weight:bold;
}

.bq-wizard .wizard-step.active .step-number{
  border-color:#0a85d9;
}

.bq-wizard .wizard-step.disabled .step-number{
  border-color:#eaeaea;
}

/* Note Table
----------------------------------*/

.note-table.note-draft {
    background-color: #f5f8fd;
    border-color: #8bb4e7;
    color: #010407;
}

.note-table.note-active {
    background-color: #f5f8fd;
    border-color: #67b564;
    color: #010407;
}

.note-table.note-inactive {
    background-color: #f5f8fd;
    border-color: #cacaca;
    color: #010407;
}

.note-table {
    margin: 0 0 15px;
    padding: 15px 0px 35px 0px;
    border-left: 5px solid #eee;
    border-radius: 0 4px 4px 0;
}

.note-table.info {
    border: 1px dashed #c7bfbf;
    text-align: center;
    padding: 10px;
}

.note-table p:last-child {
    margin-bottom: 0;
}

.note-table p {
    margin: 0;
    font-size: 13px;
}

/* Loader
 * https://projects.lukehaas.me/css-loaders/
----------------------------------------------- */

.loading-overlay{
  position:fixed;
  top:0;
  bottom:0;
  right:0;
  left:0;
  z-index:10000;
  background-color: rgba(255, 255, 255, 0.2);
}

.loading-overlay .loading-message{
  margin-top: -37px;
  color: #0a85d9!important;
  font-size:18px;
  text-align:center;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(0,191,255, 0.2);
  border-right: 1.1em solid rgba(0,191,255, 0.2);
  border-bottom: 1.1em solid rgba(0,191,255, 0.2);
  border-left: 1.1em solid #1c9ef4;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loader.white{
  border-top: 1.1em solid rgba(255,255,255, 0.2);
  border-right: 1.1em solid rgba(255,255,255, 0.2);
  border-bottom: 1.1em solid rgba(255,255,255, 0.2);
  border-left: 1.1em solid #ffffff;
}


/* Comentarios
----------------------------------------------- */

.comments-panel {
  background: #f7f7f7;
  padding: 10px 20px;
  width: 35%;
  position: relative;
  right: -1em;
}
.comment-item {
  background: white;
  padding: 10px;
  border: 2px solid transparent;
}
.comment-item i { display: none !important; }
.comment-item:hover i {
  display: block !important;
  float: right;
  cursor: pointer;
  color: red;
}
.comment-item:hover { border: 2px solid #0B85D9; }

/* Validation
----------------------------------------------- */

.required:after{
  content: " *";
  color: rgb(221, 0, 0);
}

span.error-msg{
  color:rgb(221, 0, 0);
  padding:5px 1px;
  font-size:11px;
  vertical-align:bottom;
}

div.error-msg{
  color:rgb(221, 0, 0);
  padding:5px 1px;
  font-size:11px;
}

.form-group+span.error-msg,
.form-group+div.error-msg{
  margin-top: -15px;
  margin-bottom: 10px;
}

input.ng-invalid.ng-dirty:not(:focus),
textarea.ng-invalid.ng-dirty:not(:focus),
select.ng-invalid.ng-dirty:not(:focus){
  color: #b94a48;
  border-color: #F5AEAC;
  background-color: #fffafa;
  -webkit-box-shadow: inset 0 0 4px #FCE7E7;
     -moz-box-shadow: inset 0 0 4px #FCE7E7;
          box-shadow: inset 0 0 4px #FCE7E7;
}

input.ng-invalid.ng-dirty:not(:focus)::-webkit-input-placeholder,
textarea.ng-invalid.ng-dirty:not(:focus)::-webkit-input-placeholder,
select.ng-invalid.ng-dirty:not(:focus)::-webkit-input-placeholder {
   color: #ec8a88;
}

input.ng-invalid.ng-dirty:not(:focus),
textarea.ng-invalid.ng-dirty:not(:focus),
select.ng-invalid.ng-dirty:not(:focus):-moz-placeholder { /* Firefox 18- */
   color: #ec8a88;
}

input.ng-invalid.ng-dirty:not(:focus)::-moz-placeholder,
textarea.ng-invalid.ng-dirty:not(:focus)::-moz-placeholder,
select.ng-invalid.ng-dirty:not(:focus)::-moz-placeholder {  /* Firefox 19+ */
   color: #ec8a88;
}

input.ng-invalid.ng-dirty:not(:focus):-ms-input-placeholder ,
textarea.ng-invalid.ng-dirty:not(:focus):-ms-input-placeholder ,
select.ng-invalid.ng-dirty:not(:focus):-ms-input-placeholder {
   color: #ec8a88;
}

.contestation-label {font-size:.9em;color:#2B79C7}

.spandable-input:hover {
  height: 100px;
  transition: .3s all ease-in-out;
}
.spandable-input:hover textarea {
    height: 82px !important;
    transition: .3s all ease-in-out;
}

/* Buttons
----------------------------------------------- */

.command-button, .command-button:visited {
    display: inline-block;
    vertical-align: middle;
    line-height: 20px;
    text-align: center;
    font-size: 14px;
    padding: 6px 15px;
    cursor: pointer;
    color: #666666;
    background-color: #F8F8F8;
    border: 1px solid #D1D1D1;
    border-bottom: 2px solid #D1d1d1;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -goog-ms-border-radius: 5px;
    border-radius: 5px;
    box-sizing: border-box;
}


/* Spinner
----------------------------------------------- */

/* 
  Amarelo:  #F5BE00
  Vermelho: #E31841
  Azul:     #2A76B9
  Roxo:     #C080B5
*/

.sk-spinner-rotating-plane.sk-spinner {
  width: 40px;
  height: 40px;
  border:4px solid #333;
  margin: 0 auto;
  -webkit-animation: sk-rotatePlane 2s infinite ease-in-out;
          animation: sk-rotatePlane 2s infinite ease-in-out; }
          
.sk-spinner-rotating-plane.sk-spinner-small {
  width: 20px;
  height: 20px;
  border:3px solid #333;
  margin: 0 auto;
  -moz-animation: sk-small-rotatePlane 2s infinite ease-in-out;
  -webkit-animation: sk-small-rotatePlane 2s infinite ease-in-out;
          animation: sk-small-rotatePlane 2s infinite ease-in-out; }
          
@-webkit-keyframes sk-rotatePlane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
            transform: perspective(120px) rotateX(0deg) rotateY(0deg);
      border:4px solid #F5BE00;}
  25% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(0deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(0deg);
      border:4px solid #E31841;}
  50% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(180deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(180deg);
      border:4px solid #2A76B9;}
  75% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(180deg);
            transform: perspective(120px) rotateX(0deg) rotateY(180deg);
     border:4px solid #C080B5;}
  100% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(360deg);
            transform: perspective(120px) rotateX(0deg) rotateY(360deg);
      border:4px solid #F5BE00;}
  }
@keyframes sk-rotatePlane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
            transform: perspective(120px) rotateX(0deg) rotateY(0deg);
      border:4px solid #F5BE00;}
  25% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(0deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(0deg);
      border:4px solid #E31841;}
  50% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(180deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(180deg);
      border:4px solid #2A76B9;}
  75% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(180deg);
            transform: perspective(120px) rotateX(0deg) rotateY(180deg);
     border:4px solid #C080B5;}
  100% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(360deg);
            transform: perspective(120px) rotateX(0deg) rotateY(360deg);
      border:4px solid #F5BE00;}
  }
  
@-webkit-keyframes sk-small-rotatePlane{
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
            transform: perspective(120px) rotateX(0deg) rotateY(0deg);
      border:3px solid #F5BE00;}
  25% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(0deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(0deg);
      border:3px solid #E31841;}
  50% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(180deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(180deg);
      border:3px solid #2A76B9;}
  75% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(180deg);
            transform: perspective(120px) rotateX(0deg) rotateY(180deg);
     border:3px solid #C080B5;}
  100% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(360deg);
            transform: perspective(120px) rotateX(0deg) rotateY(360deg);
      border:3px solid #F5BE00;}
  }
  
@keyframes sk-small-rotatePlane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
            transform: perspective(120px) rotateX(0deg) rotateY(0deg);
      border:3px solid #F5BE00;}
  25% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(0deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(0deg);
      border:3px solid #E31841;}
  50% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(180deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(180deg);
      border:3px solid #2A76B9;}
  75% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(180deg);
            transform: perspective(120px) rotateX(0deg) rotateY(180deg);
     border:3px solid #C080B5;}
  100% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(360deg);
            transform: perspective(120px) rotateX(0deg) rotateY(360deg);
      border:3px solid #F5BE00;}
  }